*{
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  
}


nav {
  width: 100%;
  min-height: 8vh;
 
}

.nav-btn {
  margin: 10px;
  width: 90px;
}

.icon {
  color: white;
  padding: 10px 0 0 80px;
}

ul {
  list-style-type: none;
}

.footer {
  width: 100%;
  min-height: 50px;
  background-color: #008c45;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer-bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
}

/*full menu and selected course background */
 .fullmenu  {
   background: linear-gradient(to right, #008c45, #f4f5f0, #cd212a);
   min-height: 100vh;
  }

  .mobile-basket-icon {
  position: fixed;
  bottom: 50px;
  right: 5px;
  z-index: 1;
  background-color: rgb(30, 200, 115);
  color: black;
  padding: 10px;
}

.mobile-basket-highlight {
    position: fixed;
    bottom: 50px;
    right: 5px;
    z-index: 1;
    background-color: rgb(30, 200, 115);
    color: red;
    padding: 10px;
}



 
 .About,
 .Contact {
  background: linear-gradient(to right, #008c45, #f4f5f0, #cd212a);
  min-height: 85vh;
 }



.Home {
  background: url('./images/ibackgrond.jpg');
  min-height: 92vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.basket {
  width: 75%;
}

@media only screen and (min-width: 550px) {
   nav {
    height: 10vh;
   }
   
   .menu {
    width: 45%;
   }
   
   /*nav links */
   ul {
    font-size: 18px;
    text-align: center;
   }

   li, .basketLink {
    color: white;
   }

 

   .change-link-color {
    border: 2px dotted #00ff00;
    color: #00ff00;
   }

   .selected-course {
    width: 500px;
   }

   .basket {
    width: 40%;
   }

   .mobile-basket-icon, .mobile-basket-highlight {
    display: none;
   }

  /*nav links desktop */
  a p {
    color: white;
  }

  a p:hover {
    background: linear-gradient(to right, #008c45, #f4f5f0, #cd212a);
    font-size: 20px;
    color: black;
    cursor: pointer;
  }

  /*courses under nav  */
.course-cursor {
  cursor: pointer;
}
a .home-btn {
  width: 150px;
}
}